.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background-color: var(--color-yellow);

  > div {
    display: grid;
    gap: 16px;

    @include media-breakpoint-up($tablet) {
      gap: 24px;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: inherit;
    text-decoration: none;

    @media (width >= 768px) {
      font-size: 26px;
    }
  }
}
