.header {
  position: relative;
  padding: 16px 0;
  background-color: var(--color-yellow);

  > div {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media-breakpoint-up($tablet) {
      gap: 24px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: inherit;
    text-decoration: none;

    @media (width >= 768px) {
      font-size: 26px;
    }
  }

  .userName {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
  }
}
