.homeWrapper {
  .title {
    margin: 50px 0;
    text-align: center;

    .highlighted {
      color: var(--color-yellow-dark);
    }
  }

  a {
    width: fit-content;
    margin: 20px auto 0;
  }
}
