.btn {
  display: block;
  padding: 10px 15px;
  background: var(--color-yellow);
  color: var(--color-dark);
  border-radius: 50px;
  border: 0;
  font-size: 14px;
  font-family: inherit;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: $transition-time;

  @include media-breakpoint-up($tablet) {
    font-size: 16px;
  }

  &.secondary {
    background: var(--color-gray);
  }

  @include active {
    background: var(--color-yellow-dark);
  }

  &[disabled] {
    filter: grayscale(0.8);
    cursor: unset;
  }
}
