.breadcrumb {
  display: block;
  padding: 20px 0;
  color: var(--color-blue);
  text-decoration: none;
  font-size: 14px;

  @include active {
    text-decoration: underline;
  }
}

.cart {
  h1 {
    margin: 10px 0;
    font-size: 20px;
  }

  .list {
    .item {
      display: grid;
      gap: 10px;
      padding: 15px 0;
      border-bottom: 1px solid var(--color-gray);

      @include media-breakpoint-up($tablet) {
        gap: 20px;
        grid-template-columns: 1fr auto auto;
        align-items: center;
      }

      p {
        margin: 0;
      }
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
  }
}

.cartOverview {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background: var(--color-dark);
  color: white;

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
  }

  p {
    margin: 0;
  }

  a {
    margin-left: auto;
    color: inherit;
    text-decoration: none;

    @include active {
      text-decoration: underline;
    }
  }
}