.userWrapper {
  .text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }

  .formWrapper {
    max-width: 400px;
    margin: 0 auto;
  }

  button {
    margin: 20px auto 0;
  }
}
